*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #121112 ;
  color: #FBF5E5;
  scroll-behavior: smooth;
}

header{
 color: rgb(249, 248, 248);
  text-align: left;
  padding: 10px 0;
}

section {
  position: relative;
  min-height: 100vh;
  padding: 50px 20px;
  background-color: #090909;
  color: #FBF5E5;
}

section img {
  margin: 20px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  height: auto;
  border-radius: 10px;
}
#aboutme h1 , #projects h1,#contact h1 {
  text-align: left;
  background-color: #c698eb;
  height: 60px;
  width: 150px;
  padding: 10px ;
  
}

#aboutme p , #contact p ,#projects p{
  text-align: left;
  font-size: medium;
  line-height: 1.2;
  margin: 20px;
  padding: 20px;
  font-size: large;

}

footer {
  text-align: center;
  padding: 20px;
  background-color: #c698eb;
  color: #FBF5E5;
}


